<ion-header [translucent]="true"class="bar bar-header bar-positive title">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title class="main" >   
    <ion-grid>
      <ion-row class="main">
        <ion-col size="10">Home</ion-col>
      </ion-row>
  </ion-grid>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-spinner name="crescent" *ngIf="this.bidPrice == 0" color="tertiary" class="spinner">
    </ion-spinner>
  </div>
  
  <div class="container" *ngIf="this.bidPrice > 0">
    <div class="texto" *ngIf="showMesage" [ngClass]="{'no-display' : showMesage == false, 'display': showMesage == true }">
      <ion-label >{{this.mensaje}}</ion-label>
    </div>
    <ion-grid>
    <ion-row class="simbol">
      <ion-col size="10">XBTUSD</ion-col>
      <ion-col size="2" class="delay">{{this.delay}}</ion-col>
    </ion-row>
      <ion-row>
        <ion-col size="6" class="p max">$ {{this.max}} </ion-col>
        <ion-col size="3" class="p max">+ $ {{this.maxDelta}} </ion-col>
        <ion-col size="3" class="p max">+ {{this.maxPercent}} %</ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="6">
          <strong>${{this.bidPrice}}</strong>
        </ion-col>
        <ion-col size="3">
          <strong> ${{this.totalDelta}}</strong>
        </ion-col>
        <ion-col size="3">
          <strong> {{this.totalPercent}}%</strong>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="p min">$ {{this.min}} </ion-col>
        <ion-col size="3" class="p min">- $ {{this.minDelta}} </ion-col>
        <ion-col size="3" class="p min">- {{this.minPercent}} %</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" class="p" style="text-align: center;">
          <ion-button class="reset ion-center" (click)="onReset()">Reset</ion-button>
        </ion-col>
        <ion-col size="4" class="p time">{{this.runingTime}}</ion-col>
      </ion-row>
    </ion-grid>
 
  </div>
</ion-content>
